@import "./blocks/popup.scss";
@import "./blocks/open.scss";
@import "./blocks/notification.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comic Neue", cursive;
}

body {
  height: 100vh;
  background: linear-gradient(to right, #aabf9a, #f9fbc9);
}
